@import "@fontsource/manrope/400.css";
@import "@fontsource/manrope/500.css";
@import "@fontsource/manrope/600.css";
@import "@fontsource/manrope/700.css";

:root {
  --font-family: "Manrope", sans-serif;
  --font-weight-regular: 400;
  --font-weight-medium: 600;
  --font-weight-bold: 800;

  --font-size-text: 16px;
  --font-size-title: 40px;
  --font-size-error: 12px;

  --line-height-text: 24px;
  --line-height-title: 48px;

  --button-primary-color: #475569; /* серый  */
  --button-disabled-color: #94a3b8; /* серо-голубой */
  --button-hover-color: #14b8a6; /* мятный  */
  --button-active-color: #0d9488; /* тёмно-мятный  */
  --button-secondary-color: #e2e8f0; /* светлый серо-голубой  */
  --button-icon-color: #f19cbb; /* розовый акцент */
  --input-color: #0A3C5C;
  --background-color: #EEF1F4;

  --border-radius-primary: 34px;



  /* запасной серый
  --button-primary-color: #334155 */

  /* --button-primary-color: #1C1C1C;
  --button-disabled-color: #606E8C;
  --button-hover-color: #FFB300;
  --button-active-color: #FF8243;
  --button-secondary-color: #fe976c;
  --button-icon-color: #F19CBB; */
}
