.userPanelContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px 16px;
    gap: 16px;
    background-color: var(--background-color);
    border-radius: var(--border-radius-primary);
    width: 100%;
    max-width: 280px;

    position: sticky;
    top: 0;
}

.name {
    font-size: var(--font-size-text);
    font-weight: var(--font-weight-medium);
    color: var(--text-primary-color);
    text-align: center;
}

.actionButton {
    margin-top: 0;
    font-size: 16px;       
    padding: 8px 12px;
    width: 100%; 
}